<div class="ticket-item">
  <span class="ticket-field ticket-id">{{ticket.id}}</span>
  <span class="ticket-field ticket-description">{{ticket.description}}</span>
  <span class="ticket-field ticket-assigneeId">{{ticket.assigneeId}}</span>
  <span class="ticket-field ticket-completed">
    <span class="ticket-field-header">Completed?</span>
    {{ticket.completed}}
  </span>
  <span class="ticket-field">
    <a class="ticket-link" routerLink="/tickets/{{ticket.id}}">Details</a>
  </span>
</div>
